* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-header {
  margin: 1rem;
}

.note-container {
  margin: 0 auto;
}

.note-title {
  padding: 0.5rem 1rem;
}

/* .note-content, .submit {
  display: none;
} */
